<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VIEWS</key>
	<array>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>banner</string>
			<key>heading</key>
			<string>banner</string>
			<key>key</key>
			<string>banner</string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>full</string>
			<key>heading</key>
			<string>category</string>
			<key>key</key>
			<string>category</string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>horizontal</string>
			<key>heading</key>
			<string>trending</string>
			<key>key</key>
			<string>trending</string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>horizontal</string>
			<key>heading</key>
			<string>upcoming</string>
			<key>key</key>
			<string>upcoming</string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>horizontal</string>
			<key>heading</key>
			<string>new</string>
			<key>key</key>
			<string>new</string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>type</key>
			<string>horizontal</string>
			<key>heading</key>
			<string>discount</string>
			<key>key</key>
			<string>discount</string>
		</dict>
	</array>
</dict>
</plist>
