<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RequiredKeyValues</key>
	<dict>
		<string>Contact Us</string>
		<key>title_about</key>
		<string>Please select a payment option.</string>
		<key>select_payment_method</key>
		<string>Sign In</string>
		<key>action_sign_in_short</key>
		<string>Ok</string>
		<key>i_ok</key>
		<string> * Confirm Password</string>
		<key>prompt_password_confirm</key>
		<string>Track Order</string>
		<key>track_order</key>
		<string>Success!</string>
		<key>i_success</key>
		<string>OPINION</string>
		<key>menu_title_opinion</key>
		<string>Enter</string>
		<key>enter</key>
		<string>Cart synced successfully.</string>
		<key>i_cart_sync_success</key>
		<string>Fields marked as ( * ) are mandatory.</string>
		<key>i_field_compulsary</key>
		<string>Grand Total</string>
		<key>i_grand_total</key>
		<string>Grand Total:</string>
		<key>grand_total</key>
		<string>*City</string>
		<key>city</key>
		<string>City</string>
		<key>city</key>
		<string>Approval</string>
		<key>i_approval</key>
		<string>Password reset link will be sent on this email id.</string>
		<key>i_password_reset_desc</key>
		<string>%@Fill data from Billing Address</string>
		<key>i_fill_data_from_billing</key>
		<string>%@Use same address for Billing</string>
		<key>i_use_same_for_billing</key>
		<string>Login</string>
		<key>title_login</key>
		<string>Order Summery</string>
		<key>i_order_summery</key>
		<string>Product Info</string>
		<key>title_product_info</key>
		<string>APPLY</string>
		<key>apply</key>
		<string>Available Payment Options</string>
		<key>available_payment_options</key>
		<string>City: %@	Postal Code: %@</string>
		<key>i_city_postal</key>
		<string>Coupon applied successfully.</string>
		<key>coupon_applied_successfully</key>
		<string>Don&apos;t have an account?</string>
		<key>dont_have_account</key>
		<string>*Postal Code</string>
		<key>postcode</key>
		<string>Back</string>
		<key>i_back</key>
		<string>Cancel</string>
		<key>cancel</key>
		<string>%@Fill data from Shipping Address</string>
		<key>i_fill_data_from_shipping</key>
		<string>%@Use same address for Shipping</string>
		<key>i_use_same_for_shipping</key>
		<string>Demo Version</string>
		<key>demo_version</key>
		<string>Your Cart is empty.</string>
		<key>no_items_in_cart</key>
		<string>Price:</string>
		<key>i_price</key>
		<string>	Use same address for Billing</string>
		<key>i_use_data_for_billing</key>
		<string>Go Back</string>
		<key>txt_go_back</key>
		<string>*Last Name</string>
		<key>last_name</key>
		<string>*Contact Number</string>
		<key>contact_number</key>
		<string>Phone No.</string>
		<key>contact_number</key>
		<string>Hey check this out!</string>
		<key>i_check_this</key>
		<string>Total Shipping Cost</string>
		<key>i_total_shipping_cost</key>
		<string>ADDRESS</string>
		<key>address</key>
		<string>Do you want to cancel the order. Are you sure?</string>
		<key>i_order_cancel_permission</key>
		<string>Launch Sample App</string>
		<key>launch_sample_app</key>
		<string> Sign up here</string>
		<key>sign_up_here</key>
		<string>NO</string>
		<key>btn_no</key>
		<string>Save</string>
		<key>i_save</key>
		<string>BUY NOW</string>
		<key>buy</key>
		<string>*Country</string>
		<key>county</key>
		<string>Country</string>
		<key>county</key>
		<string>*Email Address</string>
		<key>email</key>
		<string>E-mail</string>
		<key>email</key>
		<string>Demo Code</string>
		<key>prompt_demo_code</key>
		<string>N/A</string>
		<key>not_available</key>
		<string>+ Add Address</string>
		<key>i_add_address</key>
		<string>Total Discount</string>
		<key>total_savings</key>
		<string>OK</string>
		<key>i_cok</key>
		<string>PLACE ORDER</string>
		<key>place_order</key>
		<string>Customer data updated successfully.</string>
		<key>i_customer_data_updated</key>
		<string>Product Description</string>
		<key>title_product_info</key>
		<string>*State</string>
		<key>state</key>
		<string>State</string>
		<key>state</key>
		<string>Maximum Selling Products</string>
		<key>header_best_deals</key>
		<string>Delivered</string>
		<key>i_delivered</key>
		<string>SELECT PAYMENT</string>
		<key>select_payment</key>
		<string>Trending</string>
		<key>header_trending_items</key>
		<string>Average User Rating &amp; Reviews</string>
		<key>i_average_user_rating_review</key>
		<string>Processing</string>
		<key>i_processing</key>
		<string>New Products</string>
		<key>header_fresh_arrival</key>
		<string>Press Ok to refresh your cart!</string>
		<key>i_refresh_cart_permission</key>
		<string>Logout</string>
		<key>title_logout</key>
		<string>My Order</string>
		<key>my_orders</key>
		<string>New User</string>
		<key>action_sign_up_title</key>
		<string>Amount Details</string>
		<key>i_amt_details</key>
		<string>Shipping</string>
		<key>i_shipping</key>
		<string>Enter your Code to view Demo Mobile App\nfor your WooCommerce Website.</string>
		<key>i_enter_code_desc</key>
		<string>Cancel Order</string>
		<key>cancel_order</key>
		<string>E-mail: %@</string>
		<key>i_email_str</key>
		<string>Search</string>
		<key>title_search</key>
		<string>Updating Order..</string>
		<key>updating_order</key>
		<string>via %@</string>
		<key>i_via_str</key>
		<string>Quantity : %d</string>
		<key>i_qty_val</key>
		<string>Error!</string>
		<key>i_error</key>
		<string>Apply Coupon:</string>
		<key>apply_new_coupon</key>
		<string>Reset Password</string>
		<key>action_reset_password</key>
		<string>Your Opinion list is empty.</string>
		<key>i_opinion_empty</key>
		<string>Shipping Address</string>
		<key>shipping_address</key>
		<string>Help &amp; Support</string>
		<key>i_help&amp;support</key>
		<string>Order Id</string>
		<key>i_orderid</key>
		<string>No Result Found</string>
		<key>i_no_result_found</key>
		<string>Version %@(%@) | thetmstore.com</string>
		<key>i_version_cmpny</key>
		<string>(*Delivery charges applicable as per item.)</string>
		<key>i_delivery_charge_info</key>
		<string>Edit</string>
		<key>change</key>
		<string>*First Name</string>
		<key>first_name</key>
		<string>Forgot Password</string>
		<key>txt_forget</key>
		<string>Total Items</string>
		<key>i_total_items</key>
		<string>Shipping Info</string>
		<key>i_shipping_info</key>
		<string>Invalid Coupon code.</string>
		<key>invalid_coupon_code</key>
		<string>Powered By TM Store</string>
		<key>powered_by_tm_store</key>
		<string>Phone No.:%@</string>
		<key>i_phone_val</key>
		<string>Cart</string>
		<key>title_mycart</key>
		<string>Opinion</string>
		<key>title_poll</key>
		<string> Sign in here</string>
		<key>sign_in_here</key>
		<string> * Enter Password</string>
		<key>prompt_password</key>
		<string>Enter Coupon Code</string>
		<key>enter_coupon_code</key>
		<string>Sign in</string>
		<key>action_sign_in_short</key>
		<string>Loading Product Data..</string>
		<key>i_loading_product_data</key>
		<string>Select</string>
		<key>i_select</key>
		<string>Your Wishlist is empty.</string>
		<key>no_items_in_wishlist</key>
		<string>State: %@</string>
		<key>i_state_str</key>
		<string>Address: %@</string>
		<key>i_address_str</key>
		<string>Address1</string>
		<key>address1</key>
		<string>Address2</string>
		<key>address2</key>
		<string>  Cancel Order  </string>
		<key>i_cancel_order</key>
		<string>OUT OF STOCK</string>
		<key>out_of_stock</key>
		<string>Register</string>
		<key>action_sign_up_short</key>
		<string>Forgot password?</string>
		<key>txt_forget</key>
		<string>Refresh</string>
		<key>i_refresh</key>
		<string>Categories</string>
		<key>title_categories</key>
		<string>Loading Data..</string>
		<key>i_loading_data</key>
		<string>No user review yet.</string>
		<key>i_no_user_review_yet</key>
		<string>Fetching reviews..</string>
		<key>i_fetching_reviews</key>
		<string>Wishlist</string>
		<key>menu_title_wishlist</key>
		<string>Cancelling Order..</string>
		<key>i_cancelling_order</key>
		<string>Country: %@</string>
		<key>i_country_val</key>
		<string>Reviews</string>
		<key>reviews</key>
		<string>PROCEED</string>
		<key>proceed</key>
		<string>Apply</string>
		<key>apply</key>
		<string>Remove</string>
		<key>i_remove</key>
		<string>Use your email address</string>
		<key>i_use_your_email_add</key>
		<string>Order</string>
		<key>title_myorders</key>
		<string>Rate This App</string>
		<key>i_rate_app</key>
		<string>Enter Code for your App</string>
		<key>enter_app_code</key>
		<string>No user rated/reviewed yet.</string>
		<key>i_no_user_review_rated</key>
		<string> * Enter Email</string>
		<key>email</key>
		<string>Quantity</string>
		<key>label_quantity</key>
		<string>Applied Coupon:</string>
		<key>applied_coupons</key>
		<string>Average User Rating</string>
		<key>average_user_ratings</key>
		<string>Order %@</string>
		<key>i_order_val</key>
		<string>Home</string>
		<key>title_shop</key>
		<string>Already have an account?</string>
		<key>already_have_account</key>
		<string>*Address</string>
		<key>address</key>
		<string>Address</string>
		<key>address</key>
		<string>YES</string>
		<key>btn_yes</key>
		<string>MY ORDERS</string>
		<key>title_myorders</key>
		<string>Terms And Conditions</string>
		<key>i_t&amp;c</key>
		<string>Billing Address</string>
		<key>billing_address</key>
		<string>Sign-in with a simple click.</string>
		<key>sign_in_1_click</key>
		<string>No user rated yet.</string>
		<key>i_no_user_rated_yet</key>
		<string>Click Here To Get Code</string>
		<key>demo_code_help_1</key>
		<string>Discount Zone</string>
		<key>discount</key>
		<string>Settings</string>
		<key>title_settings</key>
		<string>Languages</string>
		<key>title_language</key>
		<string>Add To Cart</string>
		<key>add_to_cart</key>
		<string>Add To Wishlist</string>
		<key>toggle_wishlist_on</key>
		<string>Added To Wishlist</string>
		<key>toggle_wishlist_off</key>
		<string>Creating Order..</string>
		<key>i_creating_order</key>
		<string>Explore Now</string>
		<key>explore_now</key>
		<string>Select Language</string>
		<key>select_language</key>
		<string>Type here to search...</string>
		<key>txt_search_hint</key>
		<string>State Data Not Fetched. Sorry!</string>
		<key>i_state_data_not_available</key>
		<string>Cart Total</string>
		<key>i_cart_totals</key>
		<string>Cart Total:</string>
		<key>cart_totals</key>
		<string>Syncing Cart</string>
		<key>syncing_cart</key>
		<string>Set Vendor</string>
		<key>title_change_vendor</key>
		<string>Set Merchant</string>
		<key>title_change_merchant</key>
		<string>Do you want to set vendor?</string>
		<key>vendor_change_confirmation</key>
		<string>Do you want to set merchant?</string>
		<key>merchant_change_confirmation</key>
		<string>Search By Vendor Name</string>
		<key>vendor_search_placeholder</key>
		<string>Search By Merchant Name</string>
		<key>merchant_search_placeholder</key>
		<string>No Vendor Found</string>
		<key>no_vendor_found</key>
		<string>No Merchant Found</string>
		<key>no_merchant_found</key>
		<string>Select all variations.</string>
		<key>select_all_variations</key>
		<string>Select Payment from</string>
		<key>i_select_payment_from</key>
		<string>All your cart/wishlist items are released. Do you want to set vendor?</string>
		<key>vendor_change_confirmation</key>
		<string>All your cart/wishlist items are released. Do you want to set merchant?</string>
		<key>merchant_change_confirmation</key>
		<string>Order Note Placeholder</string>
		<key>order_note_placeholder</key>
		<string>Cart Note Placeholder</string>
		<key>cart_note_placeholder</key>
		<string>Order Note</string>
		<key>order_note</key>
		<string>Cart Note</string>
		<key>cart_note</key>
		<string>Payment Method</string>
		<key>payment_method</key>
		<string>Unable to purchase.</string>
		<key>unable_to_purchase</key>
		<string>Sorry!</string>
		<key>sorry</key>
		<string>Unable to add to cart.</string>
		<key>unable_to_add_cart</key>
		<string>Please enter valid email id.</string>
		<key>enter_valid_email</key>
		<string>Login Failed</string>
		<key>login_failed</key>
		<string>No user found.</string>
		<key>invalid_email</key>
		<string>Invalid Username!</string>
		<key>invalid_username</key>
		<string>Invalid Password!</string>
		<key>invalid_password</key>
		<string>Invalid Email!</string>
		<key>invalid_email</key>
		<string>Both passwords are not same.</string>
		<key>both_password_not_same</key>
		<string>Please try again later.</string>
		<key>try_again</key>
		<string>Live Chat</string>
		<key>live_chat</key>
		<string>Cart synced Failed!</string>
		<key>cart_sync_failed</key>
		<string>Account not found.</string>
		<key>account_not_found</key>
		<string>Code not working!</string>
		<key>generic_error</key>
		<string>Add New Keyboards...</string>
		<key>add_new_keyboard</key>
		<string>Add %@ keyboard from Settings.</string>
		<key>add_keyboard_settings</key>
		<string>Coupon Code : %@</string>
		<key>coupon_code</key>
		<string>Ask me later</string>
		<key>ask_later</key>
		<string>No, thanks</string>
		<key>no_thanks</key>
		<string>Do you want to apply this coupon?</string>
		<key>apply_coupon</key>
		<string>App is inactive!</string>
		<key>generic_error</key>
		<string>Something went wrong.</string>
		<key>generic_error</key>
		<string>Email address not found.</string>
		<key>email_not_found</key>
		<string>Please setup your account in settings app.</string>
		<key>setup_account</key>
		<string>Insufficient Data.</string>
		<key>insufficient_data</key>
		<string>Oops!</string>
		<key>oops</key>
		<string>Retry</string>
		<key>retry</key>
		<string>Payments to this merchant are not allowed (invalid clientId)</string>
		<key>payment_merchant_not_allowed</key>
		<string>Invalid merchant</string>
		<key>invalid_merchant</key>
		<string>Item is out of stock!</string>
		<key>out_of_stock</key>
		<string>%d items are available!</string>
		<key>items_available</key>
		<string>Please select a shipping option.</string>
		<key>select_shipping</key>
		<string>No Payments Available.</string>
		<key>no_payments_available</key>
		<string>Username/Password is incorrect.</string>
		<key>password_incorrect</key>
		<string>Skip</string>
		<key>skip</key>
		<string>Error in data loading.</string>
		<key>error_loading</key>
		<string>Try again.</string>
		<key>try_again</key>
		<string>Note</string>
		<key>note</key>
		<string>Points</string>
		<key>points</key>
		<string>My Rewards</string>
		<key>my_rewards</key>
		<string>Type to search...</string>
		<key>txt_search_hint_home</key>
		<string>unsubscribe_waitlist</string>
		<key>Unsubscribe from waitlist</key>
		<string>subscribe_waitlist</string>
		<key>Subscribe to waitlist</key>
		<string>unsubscribe_waitlist_desc</string>
		<key>You are on the waitlist for this product, you can unsubscribe by clicking below button.</key>
		<string>subscribe_waitlist_desc</string>
		<key>Subscribe to waitlist to be emailed when this product becomes available.</key>
		<string>product_points</string>
		<key>Purchase this product now and earn %d Points.</key>
		<string>earn_points_desc</string>
		<key>Complete your order and earn %d Points for a discount on a future purchase</key>
		<string>use_points_desc</string>
		<key>Use %d Points for a %@ discount on this order</key>
		<string>used_points_desc</string>
		<key>You have used %d Points for a %@ discount on this order.</key>
		<string>share_wishlist</string>
		<key>Share WishList</key>
		<string>remove_discount</string>
		<key>Remove Discount</key>
		<string>apply_discount</string>
		<key>Apply Discount</key>
		<string>please_wait</string>
		<key>Please Wait..</key>
		<string>Please Wait..</string>
		<key>please_wait</key>
		<string>Added To Cart</string>
		<key>added_to_cart</key>
		<string>View Cart</string>
		<key>view_cart</key>
		<string>Profile</string>
		<key>title_profile</key>
		<string>Write to</string>
		<key>write_to_email</key>
		<string>Call</string>
		<key>call_to_number</key>
		<string>Visit</string>
		<key>visit_site</key>
	</dict>
</dict>
</plist>
