<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rightView</key>
	<dict>
		<key>ipad_rowHeight_PWRTH_MAX</key>
		<real>4.88</real>
		<key>iphone_rowHeight_PWRTH_MAX</key>
		<real>4.88</real>
		<key>isEnable</key>
		<true/>
		<key>ipad_L_PWRTW</key>
		<integer>45</integer>
		<key>iphone_L_PWRTW</key>
		<integer>70</integer>
		<key>ipad_P_PWRTW</key>
		<integer>45</integer>
		<key>iphone_P_PWRTW</key>
		<integer>70</integer>
	</dict>
	<key>leftView</key>
	<dict>
		<key>iphone_rowHeight_PWRTH_MAX</key>
		<real>4.88</real>
		<key>ipad_rowHeight_PWRTH_MAX</key>
		<real>4.88</real>
		<key>isEnable</key>
		<true/>
		<key>ipad_L_PWRTW</key>
		<integer>45</integer>
		<key>iphone_L_PWRTW</key>
		<integer>70</integer>
		<key>ipad_P_PWRTW</key>
		<integer>45</integer>
		<key>iphone_P_PWRTW</key>
		<integer>70</integer>
	</dict>
	<key>usePlaceHolderImage</key>
	<true/>
	<key>placeHolderColorRange</key>
	<dict>
		<key>r_min</key>
		<integer>80</integer>
		<key>r_max</key>
		<integer>220</integer>
		<key>g_min</key>
		<integer>80</integer>
		<key>g_max</key>
		<integer>220</integer>
		<key>b_min</key>
		<integer>80</integer>
		<key>b_max</key>
		<integer>220</integer>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>globalMarginPWRTH</key>
	<integer>6</integer>
	<key>scrollTypes</key>
	<dict>
		<key>SCROLL_TYPE_NOSCROLL</key>
		<integer>5</integer>
		<key>SCROLL_TYPE_SHOWFULL</key>
		<integer>4</integer>
		<key>SCROLL_TYPE_BOTH</key>
		<integer>3</integer>
		<key>SCROLL_TYPE_HORIZONTAL</key>
		<integer>2</integer>
		<key>SCROLL_TYPE_NONE</key>
		<integer>0</integer>
		<key>SCROLL_TYPE_VERTICAL</key>
		<integer>1</integer>
	</dict>
	<key>bannerView</key>
	<dict>
		<key>iPad</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<real>0.1</real>
				<key>bottomMarginPWRTH</key>
				<real>0.1</real>
				<key>leftMarginPWRTH</key>
				<real>0.1</real>
				<key>rightMarginPWRTH</key>
				<real>0.1</real>
				<key>heightPWRTH</key>
				<integer>38</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<real>0.1</real>
				<key>bottomMarginPWRTH</key>
				<real>0.1</real>
				<key>leftMarginPWRTH</key>
				<real>0.1</real>
				<key>rightMarginPWRTH</key>
				<real>0.1</real>
				<key>heightPWRTH</key>
				<real>51.6</real>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>iPhone</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>0</integer>
				<key>bottomMarginPWRTH</key>
				<integer>0</integer>
				<key>leftMarginPWRTH</key>
				<integer>0</integer>
				<key>rightMarginPWRTH</key>
				<integer>0</integer>
				<key>heightPWRTH</key>
				<integer>29</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>0</integer>
				<key>bottomMarginPWRTH</key>
				<integer>0</integer>
				<key>leftMarginPWRTH</key>
				<integer>0</integer>
				<key>rightMarginPWRTH</key>
				<integer>0</integer>
				<key>heightPWRTH</key>
				<integer>30</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_HORIZONTAL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0xFFFFFFFF</string>
	</dict>
	<key>productBannerView</key>
	<dict>
		<key>iPad</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>50</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>50</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>iPhone</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>50</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>50</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_HORIZONTAL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0xFFFFFFFF</string>
	</dict>
	<key>categoryView</key>
	<dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_SHOWFULL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0xF7F7F7FF</string>
		<key>iPhone</key>
		<array>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>70</integer>
					<key>cardWidthPWRTW</key>
					<integer>47</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>70</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>60</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>60</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
		</array>
		<key>iPad</key>
		<array>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>47</integer>
					<key>cardWidthPWRTW</key>
					<integer>47</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<real>41.6</real>
					<key>cardWidthPWRTW</key>
					<real>41.6</real>
					<key>cardInRowCount</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>47</integer>
					<key>cardWidthPWRTW</key>
					<integer>98</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>40</integer>
					<key>cardWidthPWRTW</key>
					<real>63.55</real>
					<key>cardInRowCount</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>40</integer>
					<key>cardWidthPWRTW</key>
					<integer>98</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>40</integer>
					<key>cardWidthPWRTW</key>
					<real>63.55</real>
					<key>cardInRowCount</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>47</integer>
					<key>cardWidthPWRTW</key>
					<integer>98</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>40</integer>
					<key>cardWidthPWRTW</key>
					<real>63.55</real>
					<key>cardInRowCount</key>
					<integer>3</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>productView</key>
	<dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_HORIZONTAL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0xF7F7F7FF</string>
		<key>iPhone</key>
		<array>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>3</integer>
					<key>cardHeightPWRTW</key>
					<integer>80</integer>
					<key>cardWidthPWRTW</key>
					<real>49.5</real>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>4</integer>
					<key>cardHeightPWRTW</key>
					<integer>50</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>4</integer>
					<key>cardHeightPWRTW</key>
					<integer>50</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>0.5</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>1.5</real>
					<key>cardHeightPWRTW</key>
					<integer>70</integer>
					<key>cardWidthPWRTW</key>
					<integer>48</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>3</integer>
					<key>cardHeightPWRTW</key>
					<integer>70</integer>
					<key>cardWidthPWRTW</key>
					<integer>49</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>3</integer>
					<key>cardHeightPWRTW</key>
					<integer>80</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
			</dict>
		</array>
		<key>iPad</key>
		<array>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<integer>44</integer>
					<key>cardWidthPWRTW</key>
					<integer>30</integer>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<integer>44</integer>
					<key>cardWidthPWRTW</key>
					<real>29.5</real>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<real>28.2</real>
					<key>cardWidthPWRTW</key>
					<integer>47</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<real>24.96</real>
					<key>cardWidthPWRTW</key>
					<real>41.6</real>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<real>28.2</real>
					<key>cardWidthPWRTW</key>
					<integer>47</integer>
					<key>cardInRowCount</key>
					<integer>2</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<real>24.96</real>
					<key>cardWidthPWRTW</key>
					<real>41.6</real>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<real>41.02</real>
					<key>cardWidthPWRTW</key>
					<integer>30</integer>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<real>41.02</real>
					<key>cardWidthPWRTW</key>
					<real>29.5</real>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<real>41.02</real>
					<key>cardWidthPWRTW</key>
					<integer>30</integer>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>1</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>1</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>1</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>1</integer>
					<key>topMarginPWRTH</key>
					<integer>1</integer>
					<key>bottomMarginPWRTH</key>
					<integer>1</integer>
					<key>leftMarginPWRTH</key>
					<integer>1</integer>
					<key>rightMarginPWRTH</key>
					<integer>1</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardVerticalSpacingPWRTW</key>
					<real>5.2</real>
					<key>cardHeightPWRTW</key>
					<real>41.02</real>
					<key>cardWidthPWRTW</key>
					<real>29.5</real>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>portrait</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>35</integer>
					<key>cardWidthPWRTW</key>
					<integer>96</integer>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
				<key>landscape</key>
				<dict>
					<key>insetMarginBottomPWRTW</key>
					<integer>2</integer>
					<key>insetMarginTopPWRTW</key>
					<integer>2</integer>
					<key>insetMarginRightPWRTW</key>
					<integer>2</integer>
					<key>insetMarginLeftPWRTW</key>
					<integer>2</integer>
					<key>topMarginPWRTH</key>
					<integer>0</integer>
					<key>bottomMarginPWRTH</key>
					<integer>0</integer>
					<key>leftMarginPWRTH</key>
					<integer>0</integer>
					<key>rightMarginPWRTH</key>
					<integer>0</integer>
					<key>heightPWRTH</key>
					<integer>1</integer>
					<key>widthPWRTH</key>
					<integer>1</integer>
					<key>cardHorizontalSpacingPWRTW</key>
					<integer>1</integer>
					<key>cardVerticalSpacingPWRTW</key>
					<integer>2</integer>
					<key>cardHeightPWRTW</key>
					<integer>35</integer>
					<key>cardWidthPWRTW</key>
					<integer>129</integer>
					<key>cardInRowCount</key>
					<integer>4</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>horizontalView</key>
	<dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_HORIZONTAL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0xF7F7F7FF</string>
		<key>iPhone</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>insetMarginLeftPWRTW</key>
				<integer>1</integer>
				<key>insetMarginRightPWRTW</key>
				<integer>1</integer>
				<key>insetMarginTopPWRTW</key>
				<integer>1</integer>
				<key>insetMarginBottomPWRTW</key>
				<real>1.5</real>
				<key>cardHorizontalSpacingPWRTW</key>
				<real>2.6</real>
				<key>cardVerticalSpacingPWRTW</key>
				<real>2.6</real>
				<key>cardHeightPWRTW</key>
				<integer>65</integer>
				<key>cardWidthPWRTW</key>
				<integer>42</integer>
				<key>cardInRowCount</key>
				<integer>1</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>insetMarginLeftPWRTW</key>
				<integer>1</integer>
				<key>insetMarginRightPWRTW</key>
				<integer>1</integer>
				<key>insetMarginTopPWRTW</key>
				<integer>1</integer>
				<key>insetMarginBottomPWRTW</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<real>5.2</real>
				<key>cardVerticalSpacingPWRTW</key>
				<real>5.2</real>
				<key>cardHeightPWRTW</key>
				<integer>60</integer>
				<key>cardWidthPWRTW</key>
				<integer>40</integer>
				<key>cardInRowCount</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>iPad</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>insetMarginBottomPWRTW</key>
				<real>1.5</real>
				<key>insetMarginTopPWRTW</key>
				<integer>1</integer>
				<key>insetMarginRightPWRTW</key>
				<integer>1</integer>
				<key>insetMarginLeftPWRTW</key>
				<integer>1</integer>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<real>1.6</real>
				<key>cardVerticalSpacingPWRTW</key>
				<real>1.6</real>
				<key>cardHeightPWRTW</key>
				<real>34.96</real>
				<key>cardWidthPWRTW</key>
				<real>22.79</real>
				<key>cardInRowCount</key>
				<integer>4</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>insetMarginBottomPWRTW</key>
				<real>1.5</real>
				<key>insetMarginTopPWRTW</key>
				<integer>1</integer>
				<key>insetMarginRightPWRTW</key>
				<integer>1</integer>
				<key>insetMarginLeftPWRTW</key>
				<integer>1</integer>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<real>1.6</real>
				<key>cardVerticalSpacingPWRTW</key>
				<real>1.6</real>
				<key>cardHeightPWRTW</key>
				<real>34.96</real>
				<key>cardWidthPWRTW</key>
				<real>22.79</real>
				<key>cardInRowCount</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
	<key>productView1</key>
	<dict>
		<key>scrollType</key>
		<string>SCROLL_TYPE_SHOWFULL</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>backgroundColor</key>
		<string>0x0000007F</string>
		<key>iPhone</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<integer>-1</integer>
				<key>cardVerticalSpacingPWRTW</key>
				<real>0.2</real>
				<key>cardHeightPWRTW</key>
				<real>49.9</real>
				<key>cardWidthPWRTW</key>
				<real>49.9</real>
				<key>cardInRowCount</key>
				<integer>2</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<integer>-1</integer>
				<key>cardVerticalSpacingPWRTW</key>
				<real>0.2</real>
				<key>cardHeightPWRTW</key>
				<real>41.02</real>
				<key>cardWidthPWRTW</key>
				<real>26.69</real>
				<key>cardInRowCount</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>iPad</key>
		<dict>
			<key>portrait</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<integer>-1</integer>
				<key>cardVerticalSpacingPWRTW</key>
				<real>3.45</real>
				<key>cardHeightPWRTW</key>
				<real>41.02</real>
				<key>cardWidthPWRTW</key>
				<real>26.69</real>
				<key>cardInRowCount</key>
				<integer>3</integer>
			</dict>
			<key>landscape</key>
			<dict>
				<key>topMarginPWRTH</key>
				<integer>1</integer>
				<key>bottomMarginPWRTH</key>
				<integer>1</integer>
				<key>leftMarginPWRTH</key>
				<integer>1</integer>
				<key>rightMarginPWRTH</key>
				<integer>1</integer>
				<key>heightPWRTH</key>
				<integer>1</integer>
				<key>widthPWRTH</key>
				<integer>1</integer>
				<key>cardHorizontalSpacingPWRTW</key>
				<integer>-1</integer>
				<key>cardVerticalSpacingPWRTW</key>
				<real>3.45</real>
				<key>cardHeightPWRTW</key>
				<real>41.02</real>
				<key>cardWidthPWRTW</key>
				<real>26.69</real>
				<key>cardInRowCount</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
	<key>cartView</key>
	<dict>
		<key>backgroundColor</key>
		<string>0xF7F7F7FF</string>
		<key>isFlexibleHeight</key>
		<false/>
		<key>isFlexibleWidth</key>
		<true/>
		<key>ipad</key>
		<dict>
			<key>landscape</key>
			<dict>
				<key>cartItemHeightPWRTH</key>
				<integer>20</integer>
			</dict>
			<key>portrait</key>
			<dict>
				<key>cartItemHeightPWRTH</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>iphone</key>
		<dict>
			<key>landscape</key>
			<dict>
				<key>cartItemHeightPWRTH</key>
				<integer>20</integer>
			</dict>
			<key>portrait</key>
			<dict>
				<key>cartItemHeightPWRTH</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
	<key>New item - 4</key>
	<dict>
		<key>portrait</key>
		<dict>
			<key>insetMarginBottomPWRTW</key>
			<integer>1</integer>
			<key>insetMarginTopPWRTW</key>
			<integer>1</integer>
			<key>insetMarginRightPWRTW</key>
			<integer>1</integer>
			<key>insetMarginLeftPWRTW</key>
			<integer>1</integer>
			<key>topMarginPWRTH</key>
			<integer>1</integer>
			<key>bottomMarginPWRTH</key>
			<integer>1</integer>
			<key>leftMarginPWRTH</key>
			<integer>1</integer>
			<key>rightMarginPWRTH</key>
			<integer>1</integer>
			<key>heightPWRTH</key>
			<integer>1</integer>
			<key>widthPWRTH</key>
			<integer>1</integer>
			<key>cardHorizontalSpacingPWRTW</key>
			<real>5.2</real>
			<key>cardVerticalSpacingPWRTW</key>
			<real>5.2</real>
			<key>cardHeightPWRTW</key>
			<real>41.02</real>
			<key>cardWidthPWRTW</key>
			<integer>30</integer>
			<key>cardInRowCount</key>
			<integer>4</integer>
		</dict>
		<key>landscape</key>
		<dict>
			<key>insetMarginBottomPWRTW</key>
			<integer>1</integer>
			<key>insetMarginTopPWRTW</key>
			<integer>1</integer>
			<key>insetMarginRightPWRTW</key>
			<integer>1</integer>
			<key>insetMarginLeftPWRTW</key>
			<integer>1</integer>
			<key>topMarginPWRTH</key>
			<integer>1</integer>
			<key>bottomMarginPWRTH</key>
			<integer>1</integer>
			<key>leftMarginPWRTH</key>
			<integer>1</integer>
			<key>rightMarginPWRTH</key>
			<integer>1</integer>
			<key>heightPWRTH</key>
			<integer>1</integer>
			<key>widthPWRTH</key>
			<integer>1</integer>
			<key>cardHorizontalSpacingPWRTW</key>
			<real>5.2</real>
			<key>cardVerticalSpacingPWRTW</key>
			<real>5.2</real>
			<key>cardHeightPWRTW</key>
			<real>41.02</real>
			<key>cardWidthPWRTW</key>
			<real>29.5</real>
			<key>cardInRowCount</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>New item - 5</key>
	<dict>
		<key>portrait</key>
		<dict>
			<key>insetMarginBottomPWRTW</key>
			<integer>2</integer>
			<key>insetMarginTopPWRTW</key>
			<integer>2</integer>
			<key>insetMarginRightPWRTW</key>
			<integer>2</integer>
			<key>insetMarginLeftPWRTW</key>
			<integer>2</integer>
			<key>topMarginPWRTH</key>
			<integer>0</integer>
			<key>bottomMarginPWRTH</key>
			<integer>0</integer>
			<key>leftMarginPWRTH</key>
			<integer>0</integer>
			<key>rightMarginPWRTH</key>
			<integer>0</integer>
			<key>heightPWRTH</key>
			<integer>1</integer>
			<key>widthPWRTH</key>
			<integer>1</integer>
			<key>cardHorizontalSpacingPWRTW</key>
			<integer>1</integer>
			<key>cardVerticalSpacingPWRTW</key>
			<integer>2</integer>
			<key>cardHeightPWRTW</key>
			<integer>40</integer>
			<key>cardWidthPWRTW</key>
			<integer>60</integer>
			<key>cardInRowCount</key>
			<integer>4</integer>
		</dict>
		<key>landscape</key>
		<dict>
			<key>insetMarginBottomPWRTW</key>
			<integer>2</integer>
			<key>insetMarginTopPWRTW</key>
			<integer>2</integer>
			<key>insetMarginRightPWRTW</key>
			<integer>2</integer>
			<key>insetMarginLeftPWRTW</key>
			<integer>2</integer>
			<key>topMarginPWRTH</key>
			<integer>0</integer>
			<key>bottomMarginPWRTH</key>
			<integer>0</integer>
			<key>leftMarginPWRTH</key>
			<integer>0</integer>
			<key>rightMarginPWRTH</key>
			<integer>0</integer>
			<key>heightPWRTH</key>
			<integer>1</integer>
			<key>widthPWRTH</key>
			<integer>1</integer>
			<key>cardHorizontalSpacingPWRTW</key>
			<integer>1</integer>
			<key>cardVerticalSpacingPWRTW</key>
			<integer>2</integer>
			<key>cardHeightPWRTW</key>
			<integer>40</integer>
			<key>cardWidthPWRTW</key>
			<integer>63</integer>
			<key>cardInRowCount</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
